@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?le0cg4');
    src:    url('fonts/icomoon.eot?le0cg4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?le0cg4') format('truetype'),
        url('fonts/icomoon.woff?le0cg4') format('woff'),
        url('fonts/icomoon.svg?le0cg4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-happy2:before {
    content: "\e9e0";
}
.icon-smile2:before {
    content: "\e9e2";
}
.icon-cool2:before {
    content: "\e9ec";
}
.icon-angry2:before {
    content: "\e9ee";
}
.icon-evil2:before {
    content: "\e9f0";
}
.icon-shocked2:before {
    content: "\e9f2";
}
.icon-baffled2:before {
    content: "\e9f4";
}
.icon-sleepy2:before {
    content: "\e9fe";
}
.icon-hangouts:before {
    content: "\ea8e";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-sina-weibo:before {
    content: "\ea9a";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-vimeo:before {
    content: "\eaa0";
}
.icon-github:before {
    content: "\eab0";
}
.icon-appleinc:before {
    content: "\eabe";
}
.icon-android:before {
    content: "\eac0";
}
.icon-windows8:before {
    content: "\eac2";
}
.icon-chrome:before {
    content: "\ead9";
}
.icon-firefox:before {
    content: "\eada";
}
.icon-IE:before {
    content: "\eadb";
}
.icon-safari:before {
    content: "\eadd";
}
.icon-opera:before {
    content: "\eade";
}

